$bg-color: #121214 !default;
$bg-editor: #202023 !default;
$bg-editor-hover: #242428 !default;
$bg-editor-ligth: #2e2e32 !default;

$bg-video-subtitle: rgba(32, 32, 35, 0.85) !default;
$bg-subtitle: #121214 !default;

$subtitle-border: #2d2d32 !default;
$subtitle-border-focus: #0c4056 !default;

$editor-cursor-color: #eeeeee !default;

$text-primary: #eeeeee !default;
